{% render 'custom' %}

<div>
    <h2>{{ section.settings.custome-text }}</h2>
</div>

{% schema %}
{
  "name": "Custome-Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "custome-text",
        "label": "Custome Text",
        "default": "Custome text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
  ],
  
  "presets": [
    {
      "name": "Custome-Section"
    }
  ]
}
{% endschema %}
