{% render 'custom' %}

<div>
    <h2>{{ section.settings.custome-text }}</h2>
</div>

{% schema %}
{
  "name": "Custome-Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "custome-text",
        "label": "Custome Text",
        "default": "Custome text"
    }
  ],
  "presets": [
    {
      "name": "Custome-Section"
    }
  ]
}
{% endschema %}
